/*

1) Posicionamiento.
2) Modelo de caja.
3) Tipografía.
4) Estilos visuales (box-shadow, border-radius, gradient, etcétera).
5) Otros (miscelanious).

*/

:root{
    /* Definiendo colores base para el proyecto: */
    --bitcoin-orange:#F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: white;
    --dark-grey: #757575;

    /*Definiendo fuentes del proyecto: */
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;

}

*{
    /*Reiniciando propiedades de CSS en la hoja: */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
}

header img{
    width: 150px;
    height: 24px;
    align-self: center;
}

.header--content{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
    align-self: center;
}

.header--content h1{
    color: var(--just-white);
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.header--content p {
    margin-top: 24px;
    color: var(--soft-orange);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8rem;
}

.header--content a{
    display: inline-block;
    position: absolute;
    top: calc(100% - 24px);
    right: calc(50% - 115px);
    height: 48px;
    width: 230px;
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.823rem;
    color: var(--warm-black);
    text-decoration: none;
    background-color: var(--off-white);
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.16);
}

.header--content span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    align-self: center;
    background-image: url(./assets/icons/arrow-down.svg);
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange--container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    text-align: center;
}

.exchange--bc{
    width: 200px;
    height: 200px;
    margin: 0px auto 40px;
    background: url(./assets/images/bitcoin-connects.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
}

.exchange--title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}

.exchange--title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--dark-grey);
    margin-top: 24px;
}
.exchange__table{
    padding-top: 50px;
    max-width: 850px;
}

.exchange__table--container{
    width: 70%;
    min-width: 224px;
    max-width: 300px;
    height: 100%;
    margin: 0px auto;
}

.exchange__table--title{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-left: 12px;
    margin-bottom: 12px;
    text-align: left;
}

.monedas{
    color: var(--bitcoin-orange);
}
.comisiones{
    color: var(--secondary-blue);
}

.table--container{
    width: 100%;
    height: 70%;
}
table{
    width: 100%;
    height: 100%;
    font-family: var(--secondary-font);
}

table td{
    background-color: var(--just-white);
    padding: 10px 12px;
}

.coin{
    width: 50%;
    height: 25%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--grey);
    text-align: left;
    line-height: 1.9rem;
}

.price{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--dark-grey);
}

.top-left{
    border-radius: 8px 0px 0px 0px;
}

.top-right{
    border-radius: 0px 8px 0px 0px;
}

.bottom-right{
    border-radius: 0px 0px 8px 0px;
}

.bottom-left{
    border-radius: 0px 0px 0px 8px;
}

.up{
    background: url(./assets/icons/trending-up.svg);  
}

.down{
    background: url(./assets/icons/trending-down.svg);
}

.arrow{
    align-self: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 11px;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main__exchange--update{
    margin: 20px auto 0px;
}

.main__exchange--update span{
    width: 80%;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 8px;
}

.main__exchange--update .one{
    background-color: var(--soft-orange);
}

.main__exchange--update .two{
    background-color: var(--soft-blue);
}

.comissions{
    margin-top: 50px;
    margin-bottom: 60px;
}

.main__benefits{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.main__benefits--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: calc(0% - 12px);
    left: calc(50% - 20px);
    background: url(./assets/icons/potato-to-right.svg);
}

.main__benefits--title{
    margin: 0px auto;
    margin-top: 30px;
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    
}

.main__benefits--title h2{
    margin-bottom: 25px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
}

.main__benefits--title p{
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--grey);
    text-align: center;
}

.main__benefits--cards-container{
    width: 90%;
    min-width: 288px;
    /* max-width: 700px; */
    height: auto;
    margin: 35px auto 0px;
}

.benefits__cards-container--card{
    margin-bottom: 16px;
    width: 100%;
    min-height: 152px;
    padding: 15px;
    background-color: var(--black);
    border-radius: 4px;
}

.clock{
    background: url(./assets/icons/clock.svg);
    
}

.eye{
    background: url(./assets/icons/eye.svg);
    
}

.dollar{
    background: url(./assets/icons/dollar-sign.svg);
    
}

.checked{
    background: url(./assets/icons/check-circle.svg);
}

.card__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.card--title{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--just-white);
}

.card--description{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--grey);
}

.last{
    margin-bottom: 50px;
}

.main__invitation-img--container{
    width: 100%;
    height: 50vh;
    background: url(./assets/images/bitcoinbaby2x.png) center/cover no-repeat;
    background-attachment: fixed;
}

.main__invitation-img--container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
}


.main__plans--title{
    padding-top: 65px;
}

.main__plans--slide{
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    margin: 40px 0px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main__plans--slide::-webkit-scrollbar{
    background-color: var(--soft-orange);
    height: 3px;
}

.main__plans--slide::-webkit-scrollbar-thumb{
    background-color: var(--bitcoin-orange);
}

.plans__slide--card{
    position: relative;
    scroll-snap-align: center;
    margin: 20px 10px;
    width: 60%;
    min-width: 192px;
    max-width: 200px;
    height: 250px;
    text-align: center;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);    
    padding: 30px 20px 25px;
}

#limited-card{
    background-color: var(--black);
}

#limited-card > .limited{
    background-color: var(--dark-grey);
}

#limited-card > h4 , #limited-card > .card--price{
    color: var(--just-white);
}

#limited-card > .card--disscount{
    color: var(--grey);
}

#limited-card > button {
    border-color: var(--grey);
    color: var(--warm-black);
}

#limited-card > .card--price > sup{
    left: 15%;
}

.card--recommended-tag{
    position: absolute;
    top: calc(0px - 15px);
    left: calc(50% - 50px);
    background-color: var(--bitcoin-orange);
    min-width: 80px;
    height: 30px;
    border-radius: 5px;
    color: var(--just-white);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px;
}

.basic{
    position: absolute;
    top: calc(0px - 15px);
    left: calc(50% - 40px);
    background-color: var(--secondary-blue);
}

.anual{
    position: absolute;
    top: calc(0px - 15px);
    left: calc(50% - 50px);
    background-color: var(--bitcoin-orange);
}

.limited{
    position: absolute;
    top: calc(0px - 15px);
    left: calc(50% - 57px);
    background-color: var(--bitcoin-orange);
}

.plans__slide--card h4{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--warm-black);
}
.card--price{
    position: relative;
    height: auto;
    width: auto;
    font-size: 5.2rem;
    font-weight: 700;
    font-family: var(--secondary-font);
    line-height: 6.2rem;
    letter-spacing: -0.4rem;
}
.card--price sup{
    position: absolute;
    top: -22%;
    left: 23%;
    font-size: 12px;
    
}

.card--disscount{
    margin-top: 5px;
    font-size: 1.2rem;
    color: var(--dark-grey);
}

.plans__slide--card button{
    margin-top: 25px;
    width: 80%;
    min-width: 150px;
    height: 50px;
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--off-white);
    border-radius: 4px;
    color: var(--warm-black);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    cursor: pointer;
}

.plans__slide--card button > span {
    display: inline-block;
    width: 22px;
    height: 20px;
    background: url(./assets/icons/arrow-right.svg) center/cover no-repeat;
    vertical-align: top;
}

footer{
    width: 100%;
    min-width: 320px;
    height: 150px;
    display: flex;
    background-color: var(--bitcoin-orange);
    justify-content: space-evenly;
    align-items: center;
}

footer > section > ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: var(--just-white);
    list-style: none;
}

footer > section > ul > li {
        cursor: pointer;
    }

footer > section > img {
    width: 60px;
    height: 60px;
}

.linkedin--icon, .crunch--icon, .hacker--icon{
    display: none;
}